<div class="container text-center">
    <table class="table table-striped">
        <div class="row">
            <tr>
                <td class="col">
                <th scope="col sm-3"><label for="email">First Name</label></th>
                </td>
                <td class="col"><input type="text" id="first_name" name="first_name" value="{{row.first_name}}"
                        data-validation-regex-regex="[A-Za-z]+" required="required"
                        data-validation-regex-message="Add Your First Name"></td>
                </td>


                <td class="col">
                <th class="col"><label for="user_name">Last Name</label></th>
                </td>
                <td class="col"><input type="text" id="last_name" name="last_name" value="{{row.last_name}}"
                        data-validation-regex-regex="[A-Za-z]+" required="required"
                        data-validation-regex-message="Add Your Last Name"></td>
            </tr>
        </div>

        <div class="row">
            <tr>
                <th class="col"><label for="date_of_birth">Date Of Birth</label></th>
                <td class="col"><input type="date" id="date_of_birth" max="2004-01-01" name="date_of_birth"
                        value="{{row.date_of_birth}}" required="required"
                        data-validation-regex-message="Add Your Date Of Birth"></td>

                <th class="col"><label for="mobile_number">Mobile Number</label></th>
                <td class="col"><input type="text" id="mobile_number" name="mobile_number" value="{{row.mobile_number}}"
                        data-validation-regex-regex="[0-9]{10}" required="required"
                        data-validation-regex-message="Add Your Mobile Number"></td>
            </tr>
        </div>

    </table>
</div>