<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
    <!-- or use local jquery -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <link rel="stylesheet" href="/static/css/user.css">
    <title>Show Profile</title>
</head>

<body>
    <div class="home">
        <form action="/showprofile" method="post" enctype="multipart/form-data">
            <br>
            <div class="container-fluid">
                <div class="text-right">
                    <button type="button" class="btn btn-outline-secondary btn-sm">
                        <h6><a href="{{url_for('userlogout')}}" onclick="reloadThePage()">Logout</a></h6>
                    </button>
                </div>
                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <img class="rounded-circle mt-5"
                                    src="{{ url_for('display_image', filename=filename) }}">
                                <br>
                                <span class="font-weight-bold"><b>UserName : </b>{{user_name}}</span>
                                <br>
                                <span class="font-weight-bold"><b>Email : </b>{{email}}</span><span></span>
                            </div>
                        </div>
                        <div class="col-md-5 border-right">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right"> Your Profile </h4>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                            class="form-control" value="{{row.first_name}}" disabled></div>

                                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text"
                                            class="form-control" value="{{row.last_name}}" disabled></div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-6"><label class="labels">Date Of Birth</label><input type="text"
                                            class="form-control" value="{{row.date_of_birth}}" disabled></div>

                                    <div class="col-md-6"><label class="labels">Birth Certificate</label>
                                        <br>
                                        <button type="button" class="btn btn-outline-secondary btn-sm">
                                            <a href="{{ url_for('display_pdf', dobcer=dobcer) }}">Open Your Birth Certificate</a>
                                        </button>
                                    </div>
                                    </input>

                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                            class="form-control" value="{{row.mobile_number}}" disabled></div>

                                    <div class="col-md-12"><label class="labels">Gender</label><input type="text"
                                            class="form-control" value="{{row.gender}}" disabled></div>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="py-5 p-3">

                                <div class="col-md-10 col-sm-12"><label class="labels">Address</label><input type="text"
                                        class="form-control" value="{{row.address}}" disabled></div>

                                <div class="col-md-10 col-sm-12"><label class="labels">City</label><input type="text"
                                        class="form-control" value="{{row.city}}" disabled></div>

                                <div class="col-md-10"><label class="labels">State</label><input type="text"
                                        class="form-control" disabled value="{{row.state}}"></div>

                                <div class="col-md-10"><label class="labels">Zipcode</label><input type="text"
                                        class="form-control" value="{{row.zipcode}}" disabled></div>

                                <div class="col-md-10"><label class="labels">Profile Update Date</label><input
                                        type="text" class="form-control" disabled value="{{row.profile_updated_dt}}">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row ml-auto mr-auto">
                        <div class="col-lg-12 text-center">
                            <div class="mb-2 text-center text-light">
                                <button class="btn btn btn-outline-dark profile-button" type="button"> <a
                                        href="/editprofile">Edit Profile</a>
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            {% if error %}
                            <div class="error-msg">{{ error }}</div>
                            {% endif %}

                            {% with messages = get_flashed_messages() %}
                            {% if messages %}

                            {% for message in messages %}
                            {{ message }}

                            {% endfor %}

                            {% endif %}
                            {% endwith %}

                        </div>
                        <div class="col-lg-12 text-center"></div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <script>
        function reloadThePage() {
            window.location.reload(true);
        }
    </script>
</body>

</html>